@page
@model AutoParts4Sale.IndexModel

@{
    ViewData["Title"] = "Autoparts";
}

<h1>Autoparts</h1>

<p>
    <a asp-page="Create">Add an Autopart</a>
</p>

@foreach (var autopart in Model.Autoparts)
{
    <partial name="_Autopart" model="autopart" />
    <br />
}
