@page
@model AutoParts4Sale.Pages.Articles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

    <div>
        <div>
            <a class="btn btn-lg" asp-page="./Edit" asp-route-id="@Model.Article.Id"><i class="fa fa-edit"></i></a> |
            <a class="btn btn-lg" asp-page="./Index"><i class="fas fa-arrow-left"></i></a>
        </div>
        <hr />
        <h1 class="text-center">@Model.Article.Name</h1>
        <h3 class="text-center"><em>@Model.Article.Summary</em></h3>

        <br /> <hr />
        <p class="mb-0">@Model.Article.Content</p>
    </div>
