@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="display-3">@ViewData["Title"]</h1>
<br/> <br/>
<p>When you use our services, you’re trusting us with your information. We understand this is a big responsibility and work hard to protect your information and put you in control.</p>

<p>You can use our services in a variety of ways to manage your privacy.</p><br/>

<h1>When do we collect information?</h1><br />

<p>We collect information from you when you register on our site, place an order, subscribe to a newsletter, fill out a form or enter information on our site.</p>

<h1>How do we use your information?</h1><br/>

<p>
    We may use such information in the following ways:
    <ul>
        <li>
            To personalize your experience on our site and to allow us to deliver the type of content and product offerings in which you are most interested.
        </li>
        <li>
            To improve our website in order to better serve you.
        </li>
        <li>
            To allow us to better service you in responding to your customer service requests.
        </li>
        <li>
            To administer a contest, promotion, survey or other site feature.
        </li>
        <li>
            To quickly process your transactions.
        </li>
        <li>
            To send periodic emails regarding your order or other products and services.
        </li>
    </ul>
</p>