@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-1">Welcome To AutoParts4Sale</h1>
        <br /> <br />
        <h2 class="display-4"><a asp-page="/Autoparts/Index">Check</a> the autoparts for sale</h2>


    </div>
