@page
@model AutoParts4Sale.Pages.Autoparts.SuccessMessageModel
@{
    ViewData["Title"] = "SuccessMessage";
}

<h1>Success!</h1>
<a class="btn btn-lg" asp-page="./Index"><i class="fas fa-arrow-left"></i></a>


