@page
@model AutoParts4Sale.Pages.Articles.IndexModel

@{
    ViewData["Title"] = "Articles";
}

<h1>Articles</h1>

<p>
    <a asp-page="Create">Add an Article</a>
</p>

@foreach (var article in Model.Articles)
{
    <partial name="_Article" model="article" />
    <br />
}